@charset "utf-8";
/* CSS Document */

#head{
	background-color:#080;
	
	padding-top:80px;
	height:250px;
	width:100%;
}
#content{
	background-color:#CCC;
	width:100%;
	margin-top:0px;
	height:20px;
}
#button{
	padding-top:100px;
	padding-left:180px;
	float:left
}
.button{
	width:100px;
	height:100px;}