<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="5;url=http://mail.{{@mailSuf}}"/> 
<title>跳转界面</title>
</head>

<body>
<p>the url you can modify your password has sent to your email </p>
<p>it will go the login by 5 seconds or you can click the url to login:<a href="login"> click it</a></p>
</body>
</html>
